ADMIN_PASSWORD="Manasata@0123"

SHOPIFY_STORE_DOMAIN="5p1011-0z.myshopify.com"
SHOPIFY_ADMIN_ACCESS_TOKEN="shpat_your_token_here"
SHOPIFY_API_VERSION="2026-04"

RESEND_API_KEY="re_your_resend_key_here"
INVOICE_FROM_EMAIL="ElectroGuy Invoices <info@electroguy.co.za>"
INVOICE_REPLY_TO="info@electroguy.co.za"
INVOICE_BCC="info@electroguy.co.za"

BANK_NAME=""
BANK_ACCOUNT_NAME="ElectroGuy"
BANK_ACCOUNT_NUMBER=""
BANK_BRANCH_CODE=""
BANK_ACCOUNT_TYPE=""
BANK_SWIFT_CODE=""
BANK_ADDRESS=""
PAYMENT_METHODS="EFT, cross-border transfer and wire transfer"
